.footer {
    height: 60px;
    background-color: rgb(9, 3, 12);
    color: rgb(255, 238, 203);
    text-align: center;
}

.footer .container {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: small;
    margin-left: 50%;
}