.hotels
{
    float:right;
    border-collapse: separate; 
    border-spacing: 10px;
    font-size:medium;
}
.cell{
    float:right;
    background-color: rgb(255, 251, 240);
    padding: 1.5%;
    border: 1px solid rgb(253, 224, 142) ;
}
.cell:hover{
    border: 1px solid rgb(253, 224, 142) ;
}
.name{
    color: rgb(199, 136, 0);
    font-size:large;
    font-weight:500;
    text-align: center;
}
.pagination{
    margin:4%;
	bottom:0;
    list-style-type:none;
    border-radius: 4%;
    width: 10%;
    word-spacing:inherit;
}
.search{
    margin:3%;
    float: right;
}
.address{
    font-size: medium;
    color:rgb(72, 0, 139);
}
.sortings{
    background-color: rgb(255, 189, 45);
    width: 35%;
    padding: 2%;
    border-radius: 3%;
    font-size: medium;
    margin-left: 5%;
}
