# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.HotelBookingSystem.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Nadzeya.Tarasava\source\repos\HotelBookingSystem\.idea\.idea.HotelBookingSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
